/NetViet.Patterns/obj
/NetViet.Patterns/bin
/NetViet.Patterns.Tests/bin
/NetViet.Patterns.Tests/obj
/NetViet.Patterns.sln.DotSettings.user
/NetViet.Patterns/NetViet.Patterns.csproj.user
/NetViet.Patterns.v11.suo
